extends layout
block content
    .container
        .row
            .col-md-6.offset-md-3
                h1  Home Page
                ul.list-group
                    each article, i in articles
                        li.list-group-item= article.title
